.header{
  height: 150px;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray;
  margin: 0 4rem 1rem 2rem;
}

.h1 {
    font-size: 3.2rem;
    line-height: 1.1;
    font-weight: 500;
    padding-top: 1.2rem;
    margin: 0px;
  }

  .post{
    font-size: 1.6rem;
    color: grey;
    margin: 0;
  }